 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <form class="row g-3 container boo_cus" method="post" action="student">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Name</label>
          <input type="text" name="name" id="name" >
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Roll</label>
          <input type="number" name="roll" id="roll">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Class</label>
          <input type="number" name="class" id="class">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Gmail</label>
          <input type="text" class="form-control" name="gmali" id="gmali">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
    
</body>
</html>