<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to students data</title>
</head>
<body>
{{>navbar}}
<div class="row g-0 text-center mt-5 pt-3">
  <div class="col-sm-6 col-md-6 text-start container p-5">
    <h1>Student Api</h1>
    <h1>Use Postman for more details</h1>
    <p>You can get hare students all data and you can find any student using his roll. For more use <b>POST MAN API</b> Thanks..</p>
    <a class="btn btn-success" href="add_students">Admit your child</a>
  </div>
  <div class="col-6 col-md-6">
    <img src="style/school.svg" class="img-fluid p-4" alt="school image">
  </div>
</div>
{{>buttom}}
</body>
</html>